
body{
	margin:0px; color: #76214b;
}
#fixed{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background-color: #ff3333;
	text-align: center;
	line-height: 50px;
	font-size: 21px;
	color: white;
	border-top: 1px solid #76214b
}
#text{
	width:600px; 
	margin:10px auto 60px auto;
	padding:20px;
	border:1px solid #b43273;
	border-radius:10000px 0px 20px 20px;
	font-size: 100px;
}
h1{
	margin:0px; color: #b43273
}
